:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos-list, .todo-input {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}   
.toto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.delete-todo {
    margin-right: 10px; 
    cursor: pointer;
}   
